@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --Soft-orange: hsl(35, 77%, 62%);
  --Soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

/* Main container for the entire web page */

main {
  background-color: rgb(254, 244, 228);
  padding: 2.5rem 2rem;
}

/* Nav-bar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  position: relative;
}

#hamburger-menu {
  display: none;
}

#list-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#list-items li {
  margin: 0 1rem;
  color: var(--Dark-grayish-blue);
  cursor: pointer;
}

#list-items li:hover {
  color: var(--Soft-orange);
}

#sidebar {
  display: none;
}

/* news-container */

#news-container {
  display: grid;
  grid-template-columns: 70% 29%;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.trending-news {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  width: 100%;
}

.trending-news-img {
  width: 100%;
  grid-column: 1 / span 2;
}

.trending-news-img > img {
  width: 100%;
}

.trending-news-header {
  width: 82%;
}

.trending-news-header > h1 {
  font-size: 3.5rem;
}

.trending-news-body {
  text-align: justify;
  padding: 0 2rem;
}

.trending-news-body > p {
  line-height: 1.5rem;
  margin-bottom: 2rem;
  color: var(--Dark-grayish-blue);
}

.trending-news-body > button {
  padding: 1rem 2rem;
  background-color: var(--Soft-red);
  border: none;
  color: var(--Off-white);
  letter-spacing: 0.3rem;
  cursor: pointer;
}

.trending-news-body > button:hover {
  background-color: var(--Very-dark-blue);
}

/* new-news-article */

aside {
  border: 1px solid;
  padding: 0.5rem 2rem;
  background-color: var(--Very-dark-blue);
  color: var(--Off-white);
}

.new-news-header {
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: var(--Soft-orange);
}

.new-news-header > h1 {
  font-size: 2rem;
}

.new-news {
  border-bottom: 1px solid var(--Grayish-blue);
  margin-bottom: 2rem;
}

.new-news > h3 {
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.new-news h3:hover {
  color: var(--Soft-orange);
}

.new-news > p {
  margin-bottom: 2rem;
  color: var(--Grayish-blue);
  line-height: 1.5rem;
}

/* related news */

#related-news {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.related-news {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.related-news-img {
  width: 40%;
}

.related-news-img > img {
  height: 150px;
  width: 100%;
}

.related-news .news-body {
  margin-left: 1rem;
}

.related-news .news-body > h3 {
  font-size: xx-large;
  margin-bottom: 1rem;
  color: var(--Grayish-blue);
}

.related-news .news-body > h5 {
  font-size: large;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.related-news .news-body > h5:hover {
  color: var(--Soft-red);
}

.related-news .news-body > p {
  color: var(--Grayish-blue);
  line-height: 1.5rem;
}

/* Attribution section */

.attribution {
  margin: 3rem 0;
  text-align: center;
}

/* For tablet */

@media (max-width: 1100px) {
  .trending-news {
    grid-gap: 0rem;
  }

  .trending-news-header {
    width: 100%;
    padding: 0 1rem;
  }

  .trending-news-body {
    text-align: justify;
    padding: 0 1rem;
  }

  #related-news {
    grid-gap: 1rem;
  }

  .related-news-img {
    width: 40%;
  }

  .related-news-2 .news-body > h3 {
    margin-bottom: 0.2rem;
  }
}

/* For mobile */

@media (max-width: 428px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  #hamburger-menu {
    display: block;
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  #list-items {
    display: none;
  }

  #sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    z-index: 999;
    background-color: var(--Off-white);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    animation: sidebarAnimate 500ms ease-out forwards;
  }

  @keyframes sidebarAnimate {
    100% {
      width: 250px;
    }
  }

  @keyframes sidebarclosing {
    100% {
      width: 0px;
    }
  }

  #sidebar > li {
    list-style: none;
    padding: 1rem 2rem;
    cursor: pointer;
    width: 100%;
  }

  #sidebar > li:first-child {
    text-align: end;
    margin-bottom: 3rem;
  }

  #sidebar > li:hover {
    background-color: var(--Grayish-blue);
    color: var(--Soft-orange);
  }

  #sidebar > li:first-child:hover {
    background-color: unset;
    color: var(--Dark-grayish-blue);
  }

  #news-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .trending-news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 3rem;
  }

  .trending-news-header > h1 {
    font-size: 3rem;
    margin: 2rem 0;
  }

  .trending-news-body {
    text-align: justify;
    padding: 0 1rem;
  }

  #related-news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .related-news-img > img {
    width: 130px;
  }

  .related-news-2 .news-body > h3 {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 320px) {
  .related-news {
    margin-bottom: 2rem;
  }

  .related-news-img > img {
    width: 100px;
  }

  .related-news .news-body > h3 {
    margin-bottom: 0.2rem;
  }
}
